body{

}

.fond{

    width: 100%;
    height: 100%;
}
a{

    background-color: blue;
    color: green;
}

a:hover{

    background-color: red;
}

button{

    position: relative;
    bottom : 1200px;
    left: 750px;
    font-size: 30px;
    color: blue;
    background-color: green;
    padding: 5px;
    margin: 20px;
    transition: transform .2s

}

button:hover{

    background-color: gold;
    transform: scale(1.2);
}


H1{

    position: relative;
    left: 1100px;
    bottom: 1000px;
    color: blue;
    
}

.terre{

    position:relative;
    width: 10%;
    bottom: 600px;
    left: 20px;
    border-radius: 50%;
    transition: transform .5s
    
}

.discord{

    position: relative;
    bottom: 400px;
    right: 1200px;
    width: 2%;
    border-radius: 50%;

}


.terre:hover{
  
    transform: scale(2.5);
 }